:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --botao-azul-efeito: #85bbfe;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal)
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(imgbackground.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_botao{
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;

}

.container_botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container_aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container_titulo {
    font-size: 25px;
    font-weight: 700;
}

.container_imagem {
    margin: 1em 0 2em 0;
}

.container_caixa {
    margin: 0 1em;
}

.secundario_imagem{
    width: 100%;
}

.secundario{
    align-items: center;
    margin: 0 6em;
}

.descricao_titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1 em;
}

.descricao_texto {
    color: var(--cinza-secundario);
}

.botao_secundario{
    display: inline-block;
    margin-top: 1em;
}

.container_descricao {
    padding: 2em;
}

.dispositivos_lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
}

.dispositivos_titulos{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
}

.lista_item{
    font-size: 24px;
    color: var(--branco-principal);
}

.rodape_lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1em;
    
}

.lista_link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape_texto{
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
    text-align: center;
}

.rodape{
    text-align: center;
    margin: 3em 1.5em;
}

.lista_link a:hover{
    color: var(--botao-azul);
}

.container_botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo)
}

@media (max-width: 1200px)
{
    .botao_secundario{ flex-direction: column;}
    .container{ flex-direction: column;}
    .container_aviso{ flex-direction: column;}
    .container_botao{ flex-direction: column;}
    .container_botao_secundario{ flex-direction: column;}
    .container_caixa{ flex-direction: column;}
    .container_descricao{ flex-direction: column;}
    .container_imagem{ flex-direction: column;}
    .container_titulo{ flex-direction: column;}
    .descricao_texto{ flex-direction: column;}
    .descricao_titulo{ flex-direction: column;}
    .dispositivos{ flex-direction: column;}
    .dispositivos_lista{ flex-direction: column;}
    .dispositivos_titulos{ flex-direction: column;}
    .dispositivos_titulos{ flex-direction: column;}
    .lista_item{ flex-direction: column;}
    .lista_link{ flex-direction: column;}
    .principal{ flex-direction: column;}
    .rodape{ flex-direction: column;}
    .rodape_lista{ flex-direction: column;}
    .rodape_texto{ flex-direction: column;}
    .secundario{ flex-direction: column;}
    .secundario_imagem{ flex-direction: column;}
    }